# Dependencies
node_modules/
.pnp/
.pnp.js

# Next.js build output
.next/
out/
build/
dist/
next-env.d.ts

# Local env
.env
.env*.local

# Logs
npm-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Testing / coverage
coverage/
/playwright-report/
/test-results/

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# TypeScript
*.tsbuildinfo
